@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
:root{
--dark-background:hsl(310, 16%, 7%);
--primary:hsl(310, 100%, 22%);
--white:hsl(309, 100%, 97%);
}




*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--dark-background);
    font-family: 'Rubik', sans-serif;
}
header {
    h1 {
        text-align: center;
        color: var(--white);
        margin-top: 3rem;
    }
}
main{
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
    .search-box{
        text-align: center;
        input{
            padding: 0.5rem;
            margin: 1rem;
            min-width: 300px;
            border-radius: 1.5rem;
            border: none;


            
        }
    }
}
.anime-list{
    justify-content: center;
    display: grid;
    margin: 0 auto;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(180px,180px));
}
.anime-card{
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 0.5rem;
    //background-color: #fff;
    //overflow: hidden;
    .img-container{
    }
    img{
        height: 18rem;
        border-radius: 5px;
        overflow: hidden;
        object-fit: cover;
        width: 100%;

    }
    .anime-title{
        color: var(--white);
        text-align: center;
        font-weight: 300;
        line-height: 1.5;
    }
}
